<%- include('partials/header') -%>

<main class="container">
    <div class="container">
        <div class="text-center">
          <h1>Language Learning App</h1>
          <span>Learn Today, Use Tomorrow</span>
        </div>
      </div>
    <img id="home-img" src="./imgs/dog.jpeg" alt="cute dog">
    <p>I'm baby lomo fit deep v, twee DIY fingerstache craft beer letterpress bitters cloud bread four loko kickstarter. Twee brunch four dollar toast locavore tumblr ennui. Blue bottle mukbang celiac, vice ascot adaptogen hella +1 food truck hammock blog small batch solarpunk XOXO tacos. Post-ironic hot chicken mumblecore everyday carry.</p>
</main>
    

<%- include('partials/footer') -%>