<%- include('partials/header') -%>

<main class="container">
    <section id="features">
        <h2>Features</h2>
        <p>I'm baby lomo fit deep v, twee DIY fingerstache craft beer letterpress bitters cloud bread four loko kickstarter. Twee brunch four dollar toast locavore tumblr ennui. Blue bottle mukbang celiac, vice ascot adaptogen hella +1 food truck hammock blog small batch solarpunk XOXO tacos. Post-ironic hot chicken mumblecore everyday carry.</p>
    </section>

    <section id="pricing">
        <h2>Pricing</h2>
        <!-- bootstrap pricing -->
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                  <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End of bootstrap pricing -->
    </section>

    <section id="faqs">
        <h2>FAQs</h2>
        <p>I'm baby marxism occupy small batch distillery pickled. Pop-up kale chips put a bird on it forage chia, live-edge chartreuse palo santo pickled. Farm-to-table hexagon poutine keffiyeh lyft small batch cred mlkshk wolf. Brooklyn mukbang marfa, four loko man bun subway tile coloring book solarpunk vinyl. Edison bulb authentic quinoa VHS tumblr put a bird on it bushwick. Pour-over deep v food truck, glossier austin godard chartreuse williamsburg cold-pressed palo santo activated charcoal 90's chicharrones chia hella. Lyft readymade subway tile single-origin coffee.</p>
    </section>

    <section id="about">
        <h2>About</h2>
        <p>
            Menu
            I'm baby blue bottle XOXO lyft live-edge stumptown man braid. Meditation hoodie plaid cred. Brunch fam salvia vape blog activated charcoal bespoke cold-pressed. Kale chips cardigan schlitz, kickstarter intelligentsia copper mug mlkshk small batch. Kombucha synth paleo woke chillwave umami vinyl lomo Brooklyn squid. Small batch raw denim ascot, woke literally synth drinking vinegar marxism.
            
            Marfa deep v banh mi health goth mlkshk. Drinking vinegar grailed messenger bag JOMO franzen truffaut. Vice tote bag 90's locavore, activated charcoal trust fund pork belly tbh church-key tattooed schlitz kombucha taiyaki shabby chic fashion axe. Food truck enamel pin truffaut try-hard tumblr. Wayfarers fam before they sold out hell of bodega boys cred tofu distillery.</p>
    </section>
    
</main>
<script>
    const section = "<%= section %>";
    if (section) {
        const element = document.getElementById(section);
        if (element) {
            element.scrollIntoView({ behavior: "smooth" });
        }
    }
</script>

<%- include('partials/footer') -%>