<%- include('partials/header') -%>
    <main class="container">
        <div>
            <h2>How would you like to sign up?</h2>
            <div>
                <p>I am a volunteer</p>
                <button type="submit" class="btn btn-primary">Individual</button>
            </div>
            <div>
                <p>My organization needs volunteers</p>
                <button type="submit" class="btn btn-primary">Organization</button>
            </div>
        </div>           
    </main>

<%- include('partials/footer') -%>